@{
    ViewData["Title"] = "Home Page";
}

<div class="divInicio">
    <div class="text-center d-flex justify-content-center flex-column divInicioText">
        <h1 class="display-4">Bienvenido a <b><span>V</span>ida<span>A</span>ctiva</b></h1>
        <p>Aplicativo en desarrollo..</p>
    </div>
</div>
